<div class="container">
  <cdk-virtual-scroll-viewport itemSize="200" class="viewport">
    <div fxLayout="row wrap" fxLayoutGap="16px" class="align">
      <mat-card fxFlex.lg="calc(20% - 16px)" fxFlex.lt-lg="calc(20% - 16px)"
      fxFlex.xs="calc(100% - 16px)" *cdkVirtualFor="let country of blockCountries" (click)="onGetCountry(country.alpha3Code)">
        <mat-card-header>
          <mat-card-title> {{ country?.name }}</mat-card-title>
          <mat-card-subtitle>{{ country?.alpha3Code}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ country?.flag }}" alt="img">
        <mat-card-content>
          <p>Capital: <b>{{ country?.capital }}</b></p>
          <br>
          <p>Region: <b>{{ country?.subregion }}</b></p>
          <br>
          <p>Population: <b>{{ country?.population | number }}</b></p>
        </mat-card-content>
      </mat-card>
    </div>
   </cdk-virtual-scroll-viewport>
</div>
