
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let blocks"> {{blocks.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="acronym">
      <mat-header-cell *matHeaderCellDef> Acronym </mat-header-cell>
      <mat-cell *matCellDef="let blocks"> {{blocks.acr}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
      <mat-cell *matCellDef="let blocks"><button mat-raised-button color="primary" (click)="onGetBlock(blocks.acr)">Get details</button></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>